<%- model_class = Item -%>
<div class="page-header">
  <h3 class="text-info"> Инвентарь</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong>Название:</strong></dt>
  <dd><%= @item.name %></dd>
  <dt><strong>Категория:</strong></dt>
  <dd><%= @item.category.name %></dd>
  <dt><strong>Описание:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong>Цена:</strong></dt>
  <dd><%= @item.price %></dd>
  <dt><strong>Количетсво:</strong></dt>
  <dd><%= @item.amount %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              items_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_path(@item), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_path(@item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>



